@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap');

body {
  font-family: 'AR One Sans', sans-serif ;
  background-image: linear-gradient(to bottom, #7c0433, #891b2c, #932f25, #99421d, #9c5515);
  background-attachment: fixed;
}

.container {
  max-width: 400px;
  margin:150px auto;
  padding: 20px;
  border: 5px solid #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}

#weatherResult {
  margin-top: 20px;
}
